// Hexagonal button
// --------------------------------------------------

.hb-flickr,
.hb-flickr:after,
.hb-flickr:before {
  background: #ff1981;
  border-color: #ff1981;
  color: #fff;
}
.hb,
.hb:after,
.hb:before {
  background-color: $primary;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
  color: $white;
  box-sizing: border-box;
  transition: all 0.05s;
}
.hb i {
  top: -2px;
  z-index: 9;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.hb-sm,
.hb-sm:after,
.hb-sm:before {
  height: 37px;
  width: 64px;
}
.hb-sm {
  line-height: 37px;
  font-size: 37px;
  margin: 18.5px 0;
}
.hb {
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 0;
  cursor: pointer;
}
.hb:before {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.hb:after,
.hb:before {
  position: absolute;
  content: "";
  left: -1px;
  top: 0;
  z-index: -1;
}
.hb:after {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hb-flickr-inv,
.hb-flickr-inv:after,
.hb-flickr-inv:before,
.hb-flickr:hover,
.hb-flickr:hover:after,
.hb-flickr:hover:before {
  background: 0 0;
  border-color: #ff1981;
  color: #ff1981;
}
.hb:hover,
.hb:hover:after,
.hb:hover:before {
  background: 0 0;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
  color: $primary;
}
