// ------ //
// Colors //
// ------ //

$white:       #FFFFFF !default;
$gray-100:    #FDF9FB !default;
$gray-200:    #F9F6F5 !default;
$gray-300:    #EAE7E5 !default;
$gray-400:    #D5D2CF !default;
$gray-500:    #A7A49F !default;
$gray-600:    #8D8D8D !default;
$gray-700:    #3F3C34 !default;
$gray-800:    #3B3831 !default;
$gray-900:    #46433A !default;
$black:       #000 !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$orange:      #EB743B !default;
$purple:      #BA478F !default;
$green:       #5AA854 !default;
$blue:        #4E7EC2 !default;
$yellow:      #EA9D11 !default;
$red:         #C64040 !default;
$cyan:        #36B5B2 !default;
$dark-purple: #771B85 !default;
$brown:       #754E37 !default;
$teal:        #20656C !default;
$navy:        #353070 !default;

$colors: (
  "blue":       $blue,
  "purple":     $purple,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;

$musicbrainz:     $purple !default;
$metabrainz:      $green !default;
$critiquebrainz:  $cyan !default;
$acousticbrainz:  $blue !default;
$picard:          $dark-purple !default;
$bookbrainz:      $brown !default;
$coverartarchive: $teal !default;
$listenbrainz:    $navy !default;

$primary:         $orange !default;
$secondary:       $gray-900 !default;
$success:         $green !default;
$warning:         $yellow !default;
$danger:          $red !default;
$info:            $blue !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger
) !default;

// ------------------ //
// Bootstrap Switches //
// ------------------ //

$enable-shadows: true !default;

// ----- //
// Sizes //
// ----- //

$alert-padding-x:           1.0000rem !default;
$alert-padding-y:           1.0000rem !default;
$badge-border-radius:       0.2500rem !default;
$border-radius-lg:          0.2500rem !default;
$border-radius-sm:          0.0625rem !default;
$border-radius:             0.1250rem !default;
$btn-border-radius-lg:      0 !default;
$btn-border-radius-sm:      0 !default;
$btn-border-radius:         0 !default;
$btn-border-width:          0px !default;
$card-spacer-x:             0.8750rem !default;
$code-font-size:            90% !default;
$font-size-base:            0.8750rem !default; // Default is 1rem ~ 16px - change to 0.875rem to get 14px
$input-btn-focus-width:     6px !default;
// $input-btn-font-size:       $font-size-base * 0.8 !default;
$btn-padding-x-lg:          2.0000rem !default;
$btn-padding-x-sm:          0.8000rem !default;
$btn-padding-x:             1.5000rem !default;
$lead-font-size:            $font-size-base * 1.5 !default;
$list-group-item-padding-x: 0.875rem !default;
$logo-height:               30px !default; // Unfortunately necessary for accurate logo padding
$padding-small-horizontal:  10px !default;
$padding-small-vertical:    5px !default;
$progress-height:           1.2500rem !default;
$small-font-size:           85% !default;
$table-cell-padding-sm:     5px !default;
$table-cell-padding:        8px !default;
$grid-gutter-width:         42px !default;
$navbar-padding-y:          0.625rem !default;
$navbar-padding-horizontal: floor(calc($grid-gutter-width / 2));
$paragraph-margin-bottom:   0.625rem !default;
$card-spacer-y:             1.25rem;
$card-spacer-x:             0.9375rem;
$alert-padding-y:           0.9375rem;
$alert-padding-x:           0.9375rem;

$h1-font-size:                $font-size-base * 2.57 !default;
$h2-font-size:                $font-size-base * 2.14 !default;
$h3-font-size:                $font-size-base * 1.71 !default;
$h4-font-size:                $font-size-base * 1.29 !default;
$h5-font-size:                $font-size-base * 1.00 !default;
$h6-font-size:                $font-size-base * 0.86 !default;

$container-max-widths: (
  sm: 540px + $grid-gutter-width,
  md: 720px + $grid-gutter-width,
  lg: 960px + $grid-gutter-width,
  xl: 1140px + $grid-gutter-width
) !default;

// ----- //
// Other //
// ----- //


$headings-font-weight: 300 !default;

$headings-line-height: 1.3 !default;

$font-family-sans-serif: 'Sintony', sans-serif !default;
$font-family-monospace:  'Monaco', 'Menlo', 'Consolas', "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$headings-font-family:    'Roboto', sans-serif !default;


$card-bg:                    lighten($white,6%) !default;


$code-color: #c7254e !default;

$fa-font-path:        "../webfonts" !default;

$input-btn-focus-width: 0;
$input-btn-focus-color: $blue !default;
$input-btn-focus-box-shadow: 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-focus-border-color: darken($blue, 10%) !default;

$light: $gray-200 !default;

$link-color: $blue !default;
$link-hover-color:      lighten($link-color, 12%) !default;


$navbar-light-active-color: white !default;


$carousel-caption-color: $gray-900 !default;
$carousel-control-color: $gray-900 !default;
$carousel-transition-duration: 0.45s !default;

$jumbotron-padding: 3rem !default;

$table-active-bg: $gray-200 !default;
$table-hover-bg: rgba(0, 0, 0, 0.05) !default;

// non-bootstrap, inherited from Lobes 3
$link-visited-color: darken($purple, 10%) !default;
$link-visited-hover-color: $purple !default;
$list-group-link-color:          #555 !default;
$list-group-link-heading-color:  #333 !default;
$navbar-default-brand-color:               $orange !default;
$navbar-inverse-brand-color:                lighten($purple,30%) !default;
$nav-pills-active-link-hover-color:         $white !default;

$navbar-nav-link-padding-x: 1rem !default;

$dropdown-link-hover-bg: $primary;

$dropdown-link-active-color:  $white;
$dropdown-link-color:            $gray-800;
$dropdown-link-hover-color:      $white;

$navbar-toggler-font-size: 1rem;
$navbar-toggler-padding-x: 0.625rem;

$modal-lg: 900px;

$badge-font-size: 12px;
